<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}THIS IS CCTA{% endblock %}</title>
    {% stylesheets 'bundles/cctacore/css/bootstrap.min.css'
                   'bundles/cctacore/css/main.css' filter="cssrewrite"  %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('ccta_core_homepage') }}"><img src="{{ asset('bundles/cctacore/images/minilogo.jpg') }}" alt="" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('ccta_core_homepage') }}">Présentation</a></li>
                <li class="active"><a href="{{ path('ccta_game_index') }}">Jouer</a></li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href=""><span class="text-danger">Admin</span></a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a id="afternav-panel-opener" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ app.user.username }} <span class="caret"></span>
                        </a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Invité <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% block afternav %}
    <div id="afternav-panel">
        <div id="afternav-panel-content"
                {% if(is_granted("IS_AUTHENTICATED_REMEMBERED") and
                      (not app.session.has('activePlayer') or not app.session.has('activeWorld'))) %}
                    style="/*display: block;*/"
                {% endif %}
                >
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="container">
                <div class="row panel-title-row">
                    <div class="col-md-2 text-center">
                        <div class="profile-thumb-container">
                            <img class="profile-thumb" src="{{ asset(app.user.webPath) }}" alt="" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <h3 class="afternav-panel-title">Bienvenue {{ app.user.username }}  !</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-success panel-default">
                            <div class="panel-heading">Profil</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <label>Nom de compte: </label> {{ app.user.username }}
                                    </li>
                                    <li class="list-group-item">
                                        <label>Email: </label> {{ app.user.email }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success panel-default">
                            <div class="panel-heading">Joueurs</div>
                            <div class="panel-body">
                                {% if not app.session.has('activePlayer') %}
                                    <p><em class="text-danger">Aucun joueur actif</em></p>
                                {% endif %}
                                <p><em>Cliquez sur un joueur pour l'activer</em></p>
                                <div class="list-group">
                                {% for player in app.user.players %}
                                    <a href="{{ path('ccta_player_set_active_player', {'id': player.id}) }}" class="list-group-item">{{ player.playername }}
                                    {% if(app.session.has('activePlayer') and app.session.get('activePlayer').id == player.id) %}
                                        <span class="label label-success pull-right">Actif</span>
                                    {% endif %}
                                    </a>
                                {% endfor %}
                                </div>
                                <a class="btn btn-block btn-success" href="{{ path('ccta_player_create') }}">Créer un joueur</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-success panel-default">
                            <div class="panel-heading">Mondes</div>
                            <div class="panel-body">
                                {% if(not app.session.has('activePlayer')) %}
                                <p><em>Veuillez activer un joueur en premier lieu</em></p>
                                {% else %}
                                    {% if not app.session.has('activeWorld') %}
                                        <p><em class="text-danger">Aucun monde actif</em></p>
                                    {% endif %}
                                    <p><em>Cliquez sur un monde pour l'activer</em></p>
                                    {% set player = app.session.get('activePlayer') %}
                                    {% set worlds = player.worlds %}
                                    <div class="list-group">
                                        {% for world in worlds %}
                                        <a href="{{ path('ccta_world_set_active_world', {'id': world.id}) }}" class="list-group-item">{{ world.name }}
                                            {% if(app.session.has('activeWorld') and app.session.get('activeWorld').id == world.id) %}
                                                <span class="label label-success pull-right">Actif</span>
                                            {% endif %}
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <a class="btn btn-block btn-success" href="{{ path('ccta_world_join') }}">Rejoindre un monde</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
<div class="container">

    <p>
        {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-success" role="alert">Message flash : {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">Message flash : {{ message }}</div>
    {% endfor %}
    </p>

    <div class="row">
        <div id="content" class="col-md-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>THIS IS CCTA © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
{% javascripts '@CctaCoreBundle/Resources/public/js/layout.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>