{{ form_start(form, {'attr': {'role': 'form'}}) }}

{{ form_errors(form) }}


<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.openAt) }}
    {{ form_errors(form.openAt) }}
    {{ form_widget(form.openAt, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.maxPlayers) }}
    {{ form_errors(form.maxPlayers) }}
    {{ form_widget(form.maxPlayers, {'attr': {'class': 'form-control'}}) }}
</div>


{{ form_rest(form) }}

{{ form_end(form) }}