{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<div class="page-header">
    <h2>Lire une conversation</h2>
</div>
<blockquote>
    <p>{{ thread.subject }}</p>
    <small>Discussion créée par {{ thread.createdBy }} le <cite title="Source Title">{{ thread.createdAt.date|date("F jS \\à g:ia") }}</cite></small>
</blockquote>

{% for message in thread.messages %}
<div class="row">
    <div class="
    {% if message.sender == app.user %}
    col-md-8
    {% else %}
    col-md-8 col-md-offset-4
    {% endif %}
    ">
        <div class="panel {% if message.sender == app.user %}panel-primary{% else %}panel-success{% endif %}">
            <div class="panel-heading">
                {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}
            </div>
            <div class="panel-body">
                <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                    {{ message.body }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

    <div class="page-header">
        <h2>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h2>
    </div>

<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">

    <div class="form-group">
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>

    <input type="submit" />
</form>

{% endblock %}
